.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #2d3436;
}

.App-Axis-container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 50px;
}
