.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background: url("/polymesh3-02-01.jpg") center no-repeat;
}

.App-Axis-container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 50px;
}

.App-TelloState-container {
  position: absolute;
  width: 100%;
  padding: 20px 0;
}

.App__stream-container {
  position: relative;
  height: 100%;
}
